<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        form input {
            margin-bottom: 7px;
            padding: 5px;
        }
    </style>
</head>
<body>
<form method="post">
    <input type="text" name="username" placeholder="User name"><br>
    <input type="email" name="email" placeholder="Email"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <input type="submit" name="submit">
</form>

</body>
</html>